@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  7% {
    transform: translateY(-0.3rem);
  }
  10% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-0.1rem);
  }
  18% {
    transform: translateY(0);
  }
  21% {
    transform: translateY(-0.075rem);
  }
  23% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
