@font-face {
  font-family: font-regular;
  src: url("../fonts/BeVietnamPro-Regular.ttf");
}

$primary: #6255a5;
$secondary: #85d1a0;
$font-family-base: font-regular;
$btn-font-size: 0.875rem;
$input-font-size: 0.875rem;
$font-size-xs: 0.75rem;
$star-yellow: #ffbb00;

$enable-negative-margins: true;

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "swiper";
@import "video-js";
@import "mixins";
@import "anime";

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $secondary;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: $secondary;
}

header {
  position: sticky;
  top: 0;
  background-color: $white;
  z-index: 1;
  box-shadow: 0px 4px 0px $gray-100;
  z-index: 99;
  .header-logo {
    height: 3.5rem;
    @include media-breakpoint-only(xs) {
      height: 3rem;
    }
    @include media-breakpoint-up(lg) {
      height: 4rem;
    }
  }
  .nav-icon {
    font-size: 1rem;
    background-color: $gray-100 !important;
  }
  .header-nav {
    min-height: 65px;
    @include media-breakpoint-up(lg) {
      min-height: 75px;
    }
  }
  .logo-container {
    gap: $spacer / 2;
  }
  .header-nav {
    gap: $spacer * 1.5;
    @include media-breakpoint-up(xl) {
      gap: $spacer * 2;
    }
  }
  .header-search-bar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include media-breakpoint-up(lg) {
      max-width: 500px;
      margin: 0 auto;
    }
    &::before {
      font-family: FontAwesome;
      content: "\f002";
      display: inline-block;
      padding-right: 3px;
      vertical-align: middle;
      color: $gray-500;
      position: absolute;
      left: $spacer;
      font-size: $input-font-size;
      top: 11px;
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
    input {
      font-size: $input-font-size;
      border: none;
      background-color: $gray-200 !important;
      padding: $input-font-size * 0.8 $input-font-size;
      padding-left: $spacer * 2.5;
      @include media-breakpoint-down(lg) {
        border: 0;
        padding: 0;
        width: 0;
        // transition: padding 0.2s ease-in-out, width 0.2s ease-in-out;
      }
    }

    .search-btn {
      background-color: $gray-100;
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    .close-btn {
      background-color: $gray-200;
      display: none;
      color: $black;
    }

    .search-btn,
    .close-btn {
      min-width: 40px;
      font-size: 1rem;
    }

    &.open {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      max-width: 100%;
      padding: 0px $spacer * 1.5;
      &::before {
        display: block;
        left: $spacer * 2.5;
        top: 22px;
      }
      input {
        width: 100%;
        padding: $input-font-size * 0.8 0rem;
        padding-left: $spacer * 2.5;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      .search-btn {
        display: none;
      }
      .close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        --bs-btn-padding-y: 0.86rem;
      }
    }
  }
}

main {
  min-height: 600px;
}

footer {
  background-color: $primary;
  color: $white;
  .footer-logo {
    height: 2.5rem;
  }
  .footer-links {
    a {
      color: $white;
      font-size: $font-size-sm;
      text-decoration: none;
    }
  }
  .contact-rings {
    background-color: #00aff0;
    display: inline-flex;
    border-radius: 100%;
    padding: 5px;
    height: 22px;
    width: 22px;
    align-items: center;
    justify-content: center;
    img {
      height: 14px;
    }
  }
  .app-links {
    @include media-breakpoint-only(xs) {
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
    }
  }
  .subscribe-block {
    @include media-breakpoint-up(sm) {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
    }
    @include media-breakpoint-up(md) {
      margin: unset;
    }
  }
}

.form-control {
  box-shadow: none !important;
}

header {
  .dropdown-toggle {
    outline: 0;
    &::after {
      display: none;
    }
  }
}

.category-menu {
  & > .dropdown-toggle {
    min-height: 75px;
    display: flex;
    align-items: center;
    &::after {
      font-family: FontAwesome;
      content: "\f078";
      display: inline-block;
      border: none !important;
      vertical-align: middle;
      font-size: $font-size-xs;
      margin-left: $spacer / 3;
    }
  }
  .dropdown-menu {
    min-height: 400px;
    min-width: 225px;
    max-width: 226px;
    box-shadow: 0 14px 18px -18px $gray-500;
    @include media-breakpoint-up(xl) {
      min-width: 250px;
      max-width: 250px;
    }
    --bs-dropdown-item-padding-y: 0.4rem;
    .dropdown-item {
      @extend .text-truncate, .pe-5;
      padding-right: 3rem;
      font-size: $input-font-size;
      &:hover,
      &:focus {
        background-color: transparent !important;
        color: $primary;
      }
      &.show {
        color: $primary;
      }
    }
  }
  & > .dropdown-menu {
    &::before {
      height: 14px;
      width: 100%;
      content: "";
      top: -13px;
      left: 0;
      position: absolute;
    }
    &:has(.dropdown-toggle[aria-expanded="true"]) {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    & > .dropend {
      & > .dropdown-menu {
        top: -4.79rem;
        margin-left: -1px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        &:has(.dropdown-toggle[aria-expanded="true"]) {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }
        & > .dropend {
          & > .dropdown-menu {
            top: -6.89rem;
            margin-left: -1px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
          }
        }
      }
    }
  }
  .dropend {
    .dropdown-toggle {
      outline: 0;
      &::after {
        font-family: FontAwesome;
        content: "\f054";
        display: inline-block;
        border: none !important;
        vertical-align: middle;
        margin-left: $spacer / 2;
        font-size: $font-size-xs;
        position: absolute;
        top: 8px;
        right: 15px;
      }
    }
  }
}

.auth-dropdowns {
  & > .dropdown {
    & > .dropdown-toggle {
      min-height: 75px;
      display: flex;
      align-items: center;
    }
  }
  .dropdown-menu {
    &::before {
      height: 14px;
      width: 100%;
      content: "";
      top: -13px;
      left: 0;
      position: absolute;
    }
    min-height: 175px;
    border-radius: $spacer / 2;
    box-shadow: 0 14px 18px -18px $gray-500;
    .dropdown-header {
      border-bottom: var(--bs-border-width) var(--bs-border-style)
        var(--bs-border-color);
    }
    .dropdown-item {
      &:hover,
      &:focus {
        background-color: transparent !important;
        color: $primary;
      }
      .author-preview {
        height: 4rem;
        width: 4rem;
      }
    }
  }
  .notification-menu,
  .message-menu {
    .dropdown-menu {
      .overflow-menu {
        overflow-y: auto;
        min-width: 450px;
        max-width: 450px;
        max-height: 380px;
        overscroll-behavior: contain;
        li {
          &:not(:first-child) {
            .dropdown-item {
              border-top: var(--bs-border-width) var(--bs-border-style)
                var(--bs-border-color);
            }
          }
        }
      }
    }
  }
  .notification-menu {
    .dropdown-item {
      white-space: normal;
      @include line-clamp(2);
    }
    .overflow-menu {
      max-height: 372px !important;
    }
  }
  .message-menu {
    .dropdown-item {
      white-space: normal;
      .author-preview {
        height: $spacer * 2.5 !important;
        width: $spacer * 2.5 !important;
      }
      .message-line {
        .message-content {
          @include line-clamp(2);
        }
        .message-stamp {
          font-size: $font-size-xs;
        }
      }
    }
  }
}

.asider-bar {
  width: 320px !important;
  @include media-breakpoint-only(xs) {
    width: 270px !important;
  }
  .offcanvas-header {
    position: absolute;
    top: 0px;
    right: -58px;
    .cls-btn {
      border-radius: 100%;
      height: 30px;
      width: 30px;
    }
  }
  .auth-section {
    display: grid;
    gap: 10px;
    padding-bottom: 6px;
  }
  a {
    text-decoration: none;
  }
}

.page-header {
  position: relative;
  ul {
    list-style: none;
    padding-left: unset;
  }

  .menu-wrapper {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: calc(100vh - 210px);
    overflow: hidden;
  }

  .menu-wrapper.is-visible {
    display: block;
  }

  .list-wrapper {
    height: 100%;
    overflow-y: auto;
    background: $white;
    // padding: 1rem;
  }

  .list-wrapper:nth-child(2),
  .list-wrapper:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    backface-visibility: hidden;
    transition: transform 0.2s;
  }

  .list-wrapper:nth-child(2).is-visible,
  .list-wrapper:nth-child(3).is-visible {
    transform: none;
  }

  .list-wrapper:nth-child(1) > ul > li > .sub-menu,
  .list-wrapper:nth-child(2) .level-3 {
    display: none;
  }

  .menu-wrapper a {
    display: inline-block;
    position: relative;
    margin: $spacer / 4 0rem;
    text-decoration: none;
    color: $black;
    width: 100%;
    font-size: $input-font-size;
    @extend .text-truncate;
    padding-right: $spacer * 1.5;
  }

  .menu-wrapper a.nested {
    &::after {
      font-family: FontAwesome;
      content: "\f054";
      display: inline-block;
      padding-right: 3px;
      vertical-align: middle;
      color: $black;
      position: absolute;
      right: 0;
      font-size: $input-font-size;
      top: 1px;
    }
  }

  .menu-wrapper a:hover,
  .menu-wrapper a.is-active {
    color: $primary;
  }

  .back-one-level {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
  }

  .back-one-level i {
    margin-right: $spacer / 2;
    font-size: $input-font-size;
  }
}

.fs-xs {
  font-size: $font-size-xs;
}

.btn-lg {
  font-size: $font-size-base;
  --bs-btn-padding-y: 0.875rem;
}
.btn-secondary {
  color: $white !important;
}

.slide-right {
  right: -18px;
  @extend .swiper-button-next;
}
.slide-left {
  left: -18px;
  @extend .swiper-button-prev;
}
.slide-left,
.slide-right {
  height: $spacer * 2.5;
  width: $spacer * 2.5;
  border-radius: 100%;
  background-color: $black;
  color: $white;
  font-weight: $font-weight-bold;
  pointer-events: auto !important;
  &::after {
    font-size: $font-size-xs;
  }
}

.card-type-slider {
  .swiper-slide {
    & > a {
      color: $black;
      transition: 0.3s ease;
      &:hover {
        color: $primary;
      }
      .cards-bg-light {
        background-color: $gray-200;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: $spacer;
        font-size: $input-font-size;
        min-height: 196px;
        img {
          height: 90px;
        }
        .cards-title {
          @include line-clamp(2);
        }
      }
    }
  }
}

.course-type-slider {
  .swiper-slide {
    & > a {
      color: $black;
      transition: 0.3s ease;
    }
  }
}

.course-card {
  &:hover {
    .description-block {
      & > div {
        &:first-child {
          color: $primary;
        }
      }
    }
    .img-container {
      img {
        transform: scale(1.05);
      }
    }
  }

  .img-container {
    position: relative;
    overflow: hidden;
    height: 0px;
    padding-top: 56%;
    z-index: -1;
    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: 1s all ease;
    }
  }
  .description-block {
    & > div {
      &:first-child {
        @include line-clamp(2);
      }
    }
  }
  &.fav-content {
    position: relative;
    .heart-like {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.star-rating_r {
  .fa-star,
  .fa-star-half-stroke {
    color: $star-yellow;
  }
}

.flex-0-auto {
  flex: 0 0 auto;
}

.auth-block {
  max-width: 440px;
  margin: 0 auto;
  width: 100%;
}

.text-wings {
  position: relative;
  text-align: center;
  overflow: hidden;
  span {
    min-width: 45px;
    display: inline-block;
    background-color: $white;
  }
  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: $gray-200;
    top: 50%;
    z-index: -1;
    left: 0;
  }
}

.social-btn {
  position: relative;
  &::before {
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    position: absolute;
    left: $spacer * 0.875;
    font-size: $input-font-size;
  }
  &-fb {
    color: $white !important;
    background-color: #3b5998 !important;
    &::before {
      font-family: FontAwesome;
      content: "\f09a";
      color: $white;
    }
  }
  &-google {
    background-image: url("../img//icons/google-icon.png");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 10px 8px;
  }
}

.tab-type-page {
  .sticky-tab {
    position: sticky;
    top: 95px;
  }
  .tab-link-block {
    @include media-breakpoint-up(lg) {
      border-right: var(--bs-border-width) var(--bs-border-style)
        var(--bs-border-color);
    }
  }
  .slide-tab-next {
    @extend .swiper-button-next;
    right: -20px;
  }
  .slide-tab-prev {
    left: -20px;
    @extend .swiper-button-prev;
  }
  .slide-tab-prev,
  .slide-tab-next {
    height: $spacer * 1;
    width: $spacer * 1;
    border-radius: 100%;
    color: $primary;
    font-weight: $font-weight-bold;
    pointer-events: auto !important;
    top: 33px;
    &::after {
      font-size: 0.8rem;
    }
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
  .swiper-button-disabled {
    display: none;
  }
}

#tab-slider {
  .swiper-wrapper {
    @include media-breakpoint-up(lg) {
      transform: none !important;
    }
    .tab-link {
      padding: $spacer / 2;
      @include media-breakpoint-up(lg) {
        padding-left: $spacer;
      }
      @include media-breakpoint-down(xl) {
        font-size: $input-font-size;
      }
      position: relative;
      border-radius: 0.3rem;
      overflow: hidden;
      cursor: pointer;
      i {
        padding-right: $spacer;
      }
    }
    .swiper-slide {
      width: auto !important;
      height: auto !important;
      &.active {
        .tab-link {
          background-color: rgba($primary, 0.25);
          @include media-breakpoint-down(lg) {
            background-color: transparent;
          }
          &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 4px;
            background-color: $primary;
            top: 0;
            left: 0;
            @include media-breakpoint-down(lg) {
              height: 4px;
              width: 100%;
              top: auto;
              bottom: 0;
            }
          }
        }
      }
    }
  }
}

.learning-block {
  overflow: hidden;
  &:hover {
    .img-container {
      img {
        transform: scale(1.05);
      }
    }
  }
  .img-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    @include media-breakpoint-down(xxl) {
      padding-top: 56%;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: 1s all ease;
    }
  }
  .progress {
    height: 5px;
  }
}

.author-preview {
  height: $spacer * 2.5;
  width: $spacer * 2.5;
  border-radius: 100%;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.icon-circle {
  background-color: $gray-200;
  height: $spacer * 2.5;
  width: $spacer * 2.5;
  position: relative;
  @include flex-center;
}

.purchase-history-block {
  overflow: hidden;
  &:hover {
    .img-container {
      img {
        transform: scale(1.05);
      }
    }
  }
  .img-container {
    position: relative;
    overflow: hidden;
    height: 0px;
    padding-top: 56%;
    // @include media-breakpoint-down(xxl) {
    //   padding-top: 40%;
    // }
    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: 1s all ease;
    }
  }
}

.profile-details-block {
  max-width: 440px;
  margin: 0 auto;
  #display-image {
    width: 150px;
    height: 150px;
    border: 1px solid $gray-200;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    position: relative;
  }
  .uploader-input {
    width: 40px;
    background-color: $gray-400;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 100%;
    color: $white;
    position: absolute;
    bottom: 0;
    right: 0;
    input {
      height: 100%;
      width: 100%;
      opacity: 0;
      cursor: pointer;
    }
    &::before {
      font-family: FontAwesome;
      content: "\f304";
      display: inline-block;
      color: $black;
      position: absolute;
      left: 14px;
      font-size: $input-font-size;
      top: 10px;
    }
  }
}

.product-details-block {
  .details-left {
    @include media-breakpoint-up(lg) {
      border-right: var(--bs-border-width) var(--bs-border-style)
        var(--bs-border-color);
    }
    .author-preview {
      height: $spacer * 3;
      width: $spacer * 3;
    }
    .list-group {
      .list-group-item {
        padding-left: $spacer * 1.5;
        &::before {
          font-family: FontAwesome;
          content: "\f05d";
          color: $primary;
          position: absolute;
          left: 0;
        }
      }
    }
  }
}

.form-check-label {
  cursor: pointer;
}

#filtersbottom {
  height: 100%;
  border: none;
  @include media-breakpoint-down(lg) {
    top: 69px;
  }
  @include media-breakpoint-up(lg) {
    position: static;
    transform: none !important;
    visibility: visible;
    height: 100%;
  }
}
.search-page {
  .offcanvas-backdrop {
    display: none;
  }
}

.stickable-lg {
  position: sticky;
  top: 95px;
}

.filters-block {
  @include media-breakpoint-up(lg) {
    border: 1px solid $gray-300;
  }
  .btn-close {
    background: none;
    justify-content: center;
    align-items: center;
  }
  a {
    text-decoration: none;
    color: $black;
    display: block;
  }
  .filter-head {
    position: relative;
    font-size: $input-font-size;
    &::after {
      font-family: FontAwesome;
      content: "\f054";
      display: inline-block;
      padding-right: 3px;
      vertical-align: middle;
      color: #000;
      position: absolute;
      right: 0;
      font-size: $font-size-xs;
      top: 1px;
      background-image: none;
      width: unset;
      transition: 0.2s ease;
    }
    &[aria-expanded="true"] {
      color: $primary;
      font-weight: 700;
      &::after {
        transform: rotate(90deg);
      }
    }
  }
  .accordion-body {
    a {
      font-size: $input-font-size;
      &.active,
      &:hover {
        color: $primary !important;
        font-weight: 700;
      }
    }
  }
  hr {
    color: $gray-500;
  }
}

.details-accordion-block {
  .accordion {
    border: 1px solid $gray-300;
    --bs-accordion-bg: $gray-100;
    background-color: $gray-100;
    .accordion-button {
      user-select: none;
      .details-accord-title {
        padding-left: $spacer * 1.5;
        position: relative;
        &::before {
          font-family: FontAwesome;
          content: "\f078";
          display: inline-block;
          color: $black;
          position: absolute;
          left: $spacer;
          font-size: $input-font-size;
          top: 2px;
          left: 0;
          transition: 0.3s ease;
        }
      }
      &[aria-expanded="true"] {
        .details-accord-title {
          &::before {
            transform: rotate(-180deg);
          }
        }
      }
      &::after {
        display: none;
      }
    }
  }
}

.border-dotted {
  border-top: 2px solid;
  border-style: dotted;
}

.details-author-block {
  .author-preview {
    height: $spacer * 10;
    width: $spacer * 10;
  }
}

.review-block {
  .author-preview {
    height: $spacer * 3.5;
    width: $spacer * 3.5;
  }
}

.dash-table > :not(caption) > * > * {
  padding: $spacer $spacer !important;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.dropdown-menu {
  &.show {
    animation-name: zoomIn;
    animation-duration: 0.2s;
    animation-duration: 0.2s;
    animation-fill-mode: both;
  }
}

.heart-like {
  .like-body {
    background-color: $gray-200;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::after {
      font-family: FontAwesome;
      content: "\f08a";
      display: inline-block;
      border: none !important;
      vertical-align: middle;
      font-size: $spacer * 1.2;
      position: absolute;
      top: 7px;
      right: 0.65rem;
    }
    i {
      font-size: $spacer * 1.2;
    }
  }
  input[type="checkbox"] {
    display: none;
    &:checked {
      & + .like-body {
        background-color: $primary !important;
        &::after {
          content: "\f004";
          color: $white;
        }
      }
    }
  }
}

.message-block {
  .sender-preview-img {
    border-radius: 100%;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .message-preview {
    .preview-list {
      border-top: 1px solid $gray-200;
      &:hover {
        background-color: $gray-100;
      }
      &.active {
        .sender-name,
        .sender-preview-msg {
          color: $white !important;
        }
        background-color: $primary;
      }
      .sender-preview-img {
        height: $spacer * 3;
        width: $spacer * 3;
      }
    }
  }
  .message-full {
    @include media-breakpoint-up(md) {
      border-left: var(--bs-border-width) var(--bs-border-style)
        var(--bs-border-color);
    }
    .message-detailed-block {
      @include media-breakpoint-down(md) {
        display: none;
      }
      .sender-preview-img {
        height: $spacer * 4;
        width: $spacer * 4;
      }
      .message-detailed-body {
        height: 100%;
        overflow-y: auto;
        max-height: 500px;
        .msg {
          max-width: 500px;
        }
        .msg-sent {
          align-self: flex-end;
        }
      }
    }
    .dropdown-toggle {
      &::after {
        display: none;
      }
    }
  }
}

.help-page {
  .accordion-button {
    box-shadow: none !important;
  }
  .list-group {
    .list-group-item {
      padding-left: $spacer * 1.5;
      &::before {
        font-family: FontAwesome;
        content: "\f05d";
        color: $primary;
        position: absolute;
        left: 0;
      }
    }
  }
}

.video-player-preview {
  position: relative;
  .preview-block {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba($black, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    gap: $spacer;
    cursor: pointer;
    &:hover {
      .play-btn {
        transform: scale(1.1);
      }
    }
    .play-btn {
      background-color: $white;
      color: $primary;
      height: $spacer * 3;
      width: $spacer * 3;
      @include flex-center;
      transition: 0.3s ease;
    }
  }
}

#coursePreviewModal {
  .modal-dialog {
    max-width: 600px;
    .modal-content {
      background-color: #1c1d1f;
      color: $white;
    }
  }
  .btn {
    color: $white;
  }
}

.video-list-container {
  max-height: 400px;
  height: 100%;
  overflow-y: auto;
  .video-preview-list {
    .preview-block {
      cursor: pointer;
      color: $white;
      font-size: $input-font-size;
      .preview-img {
        img {
          opacity: 0.6;
          width: auto;
          height: 3rem;
        }
      }
      i {
        display: none;
      }
    }
    &.active {
      background-color: #3e4143;
      .preview-img {
        img {
          opacity: 1;
        }
      }
      i {
        display: inline-block;
      }
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

#video-preview-player {
  .vjs-big-play-button {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.filter-height-fix {
  @include media-breakpoint-up(md) {
    max-height: calc(100vh - 220px);
    overflow-y: auto;
    height: 100%;
  }
}

.notify-indicator {
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  position: absolute;
  font-size: 0.5rem;
  color: $white;
  top: -6px;
  right: -6px;
  width: 22px;
  background: $secondary;
  border-radius: 100%;
  padding: 5px;
  font-weight: bold;
  height: 22px;
  @include flex-center;
}
