@font-face {
  font-family: font-regular;
  src: url("../fonts/BeVietnamPro-Regular.ttf");
}

$primary: #6255a5;
$secondary: #85d1a0;
$font-family-base: font-regular;
$btn-font-size: 0.875rem;
$input-font-size: 0.875rem;
$font-size-xs: 0.75rem;
$star-yellow: #ffbb00;

$enable-negative-margins: true;

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "swiper";

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $secondary;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: $secondary;
}

header {
  position: sticky;
  top: 0;
  background-color: $white;
  z-index: 1;
  box-shadow: 0px 4px 0px $gray-100;
  z-index: 99;
  .header-logo {
    height: 3.5rem;
    @include media-breakpoint-only(xs) {
      height: 3rem;
    }
    @include media-breakpoint-up(lg) {
      height: 4rem;
    }
  }
  .nav-icon {
    font-size: 1rem;
    background-color: $gray-100 !important;
  }
  .header-nav {
    min-height: 65px;
    @include media-breakpoint-up(lg) {
      min-height: 75px;
    }
  }
  .logo-container {
    gap: $spacer / 2;
  }
  .header-controls,
  .header-nav {
    gap: $spacer * 1.5;
    @include media-breakpoint-up(xl) {
      gap: $spacer * 2;
    }
  }
  .header-search-bar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include media-breakpoint-up(lg) {
      max-width: 500px;
      margin: 0 auto;
    }
    &::before {
      font-family: FontAwesome;
      content: "\f002";
      display: inline-block;
      padding-right: 3px;
      vertical-align: middle;
      color: $gray-500;
      position: absolute;
      left: $spacer;
      font-size: $input-font-size;
      top: 11px;
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
    input {
      font-size: $input-font-size;
      border: none;
      background-color: $gray-200 !important;
      padding: $input-font-size * 0.8 $input-font-size;
      padding-left: $spacer * 2.5;
      @include media-breakpoint-down(lg) {
        border: 0;
        padding: 0;
        width: 0;
        // transition: padding 0.2s ease-in-out, width 0.2s ease-in-out;
      }
    }

    .search-btn {
      background-color: $gray-100;
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    .close-btn {
      background-color: $gray-200;
      display: none;
      color: $black;
    }

    .search-btn,
    .close-btn {
      min-width: 40px;
      font-size: 1rem;
    }

    &.open {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      max-width: 100%;
      padding: 0px $spacer * 1.5;
      &::before {
        display: block;
        left: $spacer * 2.5;
        top: 22px;
      }
      input {
        width: 100%;
        padding: $input-font-size * 0.8 0rem;
        padding-left: $spacer * 2.5;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      .search-btn {
        display: none;
      }
      .close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        --bs-btn-padding-y: 0.86rem;
      }
    }
  }
}

main {
  min-height: 600px;
}

footer {
  background-color: $primary;
  color: $white;
  .footer-logo {
    height: 2.5rem;
  }
  .footer-links {
    a {
      color: $white;
      font-size: $font-size-sm;
      text-decoration: none;
    }
  }
  .contact-rings {
    background-color: #00aff0;
    display: inline-flex;
    border-radius: 100%;
    padding: 5px;
    height: 22px;
    width: 22px;
    align-items: center;
    justify-content: center;
    img {
      height: 14px;
    }
  }
  .app-links {
    @include media-breakpoint-only(xs) {
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
    }
  }
  .subscribe-block {
    @include media-breakpoint-up(sm) {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
    }
    @include media-breakpoint-up(md) {
      margin: unset;
    }
  }
}

.form-control {
  box-shadow: none !important;
}

.category-menu {
  .dropdown-menu {
    min-height: 400px;
    min-width: 225px;
    max-width: 226px;
    @include media-breakpoint-up(xl) {
      min-width: 250px;
      max-width: 250px;
    }
    border-radius: 0px;
    --bs-dropdown-item-padding-y: 0.4rem;
    .dropdown-item {
      @extend .text-truncate, .pe-5;
      padding-right: 3rem;
      font-size: $input-font-size;
      &:hover,
      &:focus {
        background-color: transparent !important;
        color: $primary;
      }
      &.show {
        color: $primary;
      }
    }
  }
  & > .dropdown-menu {
    & > .dropend {
      & > .dropdown-menu {
        top: -4.79rem;
        margin-left: -1px;
        & > .dropend {
          & > .dropdown-menu {
            top: -6.89rem;
            margin-left: -1px;
          }
        }
      }
    }
  }
  & > .dropdown-toggle {
    outline: 0;
    &::after {
      display: none;
      // font-family: FontAwesome;
      // content: "\f078";
      // display: inline-block;
      // border: none !important;
      // vertical-align: middle;
      // margin-left: $spacer / 2;
      // font-size: $input-font-size;
    }
  }
  .dropend {
    .dropdown-toggle {
      outline: 0;
      &::after {
        font-family: FontAwesome;
        content: "\f054";
        display: inline-block;
        border: none !important;
        vertical-align: middle;
        margin-left: $spacer / 2;
        font-size: $font-size-xs;
        position: absolute;
        top: 8px;
        right: 15px;
      }
    }
  }
}

.asider-bar {
  width: 320px !important;
  @include media-breakpoint-only(xs) {
    width: 270px !important;
  }
  .offcanvas-header {
    position: absolute;
    top: 0px;
    right: -58px;
    .cls-btn {
      border-radius: 100%;
      height: 30px;
      width: 30px;
    }
  }
  .auth-section {
    display: grid;
    gap: 10px;
    padding-bottom: 6px;
  }
  a {
    text-decoration: none;
  }
}

.page-header {
  position: relative;
  ul {
    list-style: none;
    padding-left: unset;
  }

  .menu-wrapper {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: calc(100vh - 210px);
    overflow: hidden;
  }

  .menu-wrapper.is-visible {
    display: block;
  }

  .list-wrapper {
    height: 100%;
    overflow-y: auto;
    background: $white;
    // padding: 1rem;
  }

  .list-wrapper:nth-child(2),
  .list-wrapper:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    backface-visibility: hidden;
    transition: transform 0.2s;
  }

  .list-wrapper:nth-child(2).is-visible,
  .list-wrapper:nth-child(3).is-visible {
    transform: none;
  }

  .list-wrapper:nth-child(1) > ul > li > .sub-menu,
  .list-wrapper:nth-child(2) .level-3 {
    display: none;
  }

  .menu-wrapper a {
    display: inline-block;
    position: relative;
    margin: $spacer / 4 0rem;
    text-decoration: none;
    color: $black;
    width: 100%;
    font-size: $input-font-size;
    @extend .text-truncate;
    padding-right: $spacer * 1.5;
  }

  .menu-wrapper a.nested {
    &::after {
      font-family: FontAwesome;
      content: "\f054";
      display: inline-block;
      padding-right: 3px;
      vertical-align: middle;
      color: $black;
      position: absolute;
      right: 0;
      font-size: $input-font-size;
      top: 1px;
    }
  }

  .menu-wrapper a:hover,
  .menu-wrapper a.is-active {
    color: $primary;
  }

  .back-one-level {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
  }

  .back-one-level i {
    margin-right: $spacer / 2;
    font-size: $input-font-size;
  }
}

.fs-sm {
  font-size: $font-size-sm;
}

.fs-xs {
  font-size: $font-size-xs;
}

.btn-lg {
  font-size: $font-size-base;
  --bs-btn-padding-y: 0.875rem;
}
.btn-secondary {
  color: $white !important;
}

.slide-right {
  right: -18px;
  @extend .swiper-button-next;
}
.slide-left {
  left: -18px;
  @extend .swiper-button-prev;
}
.slide-left,
.slide-right {
  height: $spacer * 2.5;
  width: $spacer * 2.5;
  border-radius: 100%;
  background-color: $black;
  color: $white;
  font-weight: $font-weight-bold;
  pointer-events: auto !important;
  &::after {
    font-size: $font-size-xs;
  }
}

.card-type-slider {
  .swiper-slide {
    & > a {
      color: $black;
      transition: 0.3s ease;
      &:hover {
        color: $primary;
      }
      .cards-bg-light {
        background-color: $gray-200;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 200px;
        flex-direction: column;
        gap: $spacer;
        img {
          height: 100px;
        }
      }
    }
  }
}

.course-type-slider {
  .swiper-slide {
    & > a {
      color: $black;
      transition: 0.3s ease;
      .description-block {
        & > div {
          &:first-child {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }
      &:hover {
        .description-block {
          & > div {
            &:first-child {
              color: $primary;
            }
          }
        }
      }
      .course-card {
        .img-container {
          position: relative;
          overflow: hidden;
          height: 0px;
          padding-top: 56%;
          img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: 1s all ease;
          }
          &:hover {
            img {
              transform: scale(1.05);
            }
          }
        }
        .star-rating_r {
          .fa-star,
          .fa-star-half-stroke {
            color: $star-yellow;
          }
        }
      }
    }
  }
}

.flex-0-auto {
  flex: 0 0 auto;
}

.auth-block {
  max-width: 440px;
  margin: 0 auto;
  width: 100%;
}

.text-wings {
  position: relative;
  text-align: center;
  overflow: hidden;
  span {
    min-width: 45px;
    display: inline-block;
    background-color: $white;
  }
  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: $gray-200;
    top: 50%;
    z-index: -1;
    left: 0;
  }
}

.social-btn {
  position: relative;
  &::before {
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    position: absolute;
    left: $spacer * .875;
    font-size: $input-font-size;
  }
  &-fb {
    color: $white !important;
    background-color: #3b5998 !important;
    &::before {
      font-family: FontAwesome;
      content: "\f09a";
      color: $white;
    }
  }
  &-google {
    background-image: url("../img//icons/google-icon.png");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 10px 8px;
  }
}
